<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= messages %></h1>
    <!-- note ye msg server per ek hi baar dikhega as ye flash msg hai to ek baar dikh kr hat jata hai so vaapas refresh krne se nhi chlta  -->
    <h1><%= name %></h1>

    
</body>
</html>